.hero-container{
    width: 1300px;
height: 269px;
top: 94px;
left: 32px;
gap: 0px;
border-radius: 10px;
opacity: 0px;

background: rgba(98, 98, 98, 1);

box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

/* display: flex;
align-items: center;
justify-content: center; */
position: absolute;
}

.cards-container{
    width: 760px;
height: 181px;
top: 40px;
left: 90px;
gap: 0px;
border-radius: 15px ;
opacity: 0px;

/* background-color: antiquewhite; */
position: relative;

display: flex;
justify-content: space-between;
}